@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h1 , h2 , h3,h4,h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p{
     font-family: Quicksand;
}
/*  Why Choose Us section    */

.why-choose-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.w-c-u{
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
color: #171635;
}
.wcu-items{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin-top: 105px;
    margin-bottom: 78px;

   
}
.wcu-item{
    margin:0px 11px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 221px;
    height: 251px;
    background: #FFFFFF;
border: 1px solid #F0F0F0;
box-sizing: border-box;
border-radius: 10px;
vertical-align: middle;

}

/* End  Why Choose Us section    */


/*  product process section         */

.product-process{
    background: #F2F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p-p-info{
    padding: 81px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 234px;
}
.ragh{

    width: 100%;
    height: 343px;
}
.p-p-process{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 62px;

}
.p-p-process-icons{
    display: flex;
    flex-direction: row;
margin-bottom: 25px;
}

.single-p-p-process{
    padding: 20px;
    margin:0px 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
width: 222px;
height: 281px;
background: #FFFFFF;
box-shadow: 0px 2px 9px #DEF0F0;
border-radius: 10px;
vertical-align: middle;
}
.arrow{
    
    margin-left: 80px; 

}

.single-p-p-process h3 {
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
}
.single-p-p-process p{
    margin-top: 10px;
    font-family: Quicksand;
    font-weight: bold;
   
    font-size: 12px;
    line-height: 15px;
}

.p-p-content{
    margin-left: 53px;
}
.p-p-content h1{
    margin-bottom: 10px;
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

/* FC */

color: #171635;

}
.p-p-content p{
    font-family: Quicksand;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
display: flex;
align-items: center;

color: #000000;
}




/* End product process section         */

/* Our Products */
.Our-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 144px 0px;
}
.div-our-product{
    display: flex;
    flex-direction: column;
    padding: 25px 50px ;

}
.productes-boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.single-product-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 222px;
height: 281px;
background: #FFFFFF;
border: 1px solid #F2F2F2;
box-sizing: border-box;
box-shadow: 0px 2px 9px #F7F7F7;
border-radius: 10px;
margin:10px 11px;
}

.div-our-product h1{
    margin-left: 31px;
}


/*  End Our Products */

/*  How we are Special  */
.How-we-are-special{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F2F8F8;
    padding: 58px 120px;
}
.list{
    margin: 44px 0px;
    font-family: Poppins;
font-size: 18px;
line-height: 34px;

color: #000000;
}


/* End How we are Special  */

/* About  */

.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 108px 165px;
}
.Customized-Basket{
    display: flex;
    flex-direction: row;
    margin: 40px 0px;
}
.Customized-Basket h1{
    font-family: Poppins;
font-weight: 600;
font-size: 36px;
line-height: 48px;
display: flex;
align-items: center;

/* FC */

color: #171635;
}

.cust-img{
    width: 318px;
height: 444px;
}

.Customized-Basket-content{
    display: flex;
    flex-direction: column;
    margin-left: 47px;
}

.Customized-Basket-content p{
    font-family: Poppins;
font-size: 18px;
line-height: 35px;
color: #000000;
margin-top: 24px;

}
/* End About  */

/* Offers  */
.offers{
    background: #F2F8F8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 113px 160px;
}
.offer-text{
    display: flex;
    flex-direction: column;
}
.offer-text h1{
    font-family: PilGi;
font-style: italic;
font-weight: normal;
font-size: 110px;
line-height: 111px;
display: flex;
align-items: center;
text-align: center;

/* FC */

color: #171635;

transform: rotate(-12.93deg);
}
.offer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 38px;
}
.offer-content p{
    font-family: Poppins;
font-size: 18px;
line-height: 34px;
text-align: center;

color: #000000;
}
.offer-content-p-tag{
    margin-top: 30px;
}
/* End Offers  */



/* footer */
footer{
    background: #171635;
   
    display: flex;
    flex-direction: row;
  
   justify-content: center;
   

}

footer h3{
    font-family: Poppins;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #F4B79E;
}
.logo img{
    margin-right: 100px;
}

.Categories ul li,.about-us  ul li,.Support ul li {
    list-style: none;
margin-top: 10px;

}
.Categories ul li a,.about-us  ul li a,.Support ul li a{
    text-decoration: none;
    font-family: Poppins;
font-size: 18px;
line-height: 27px;
color: #F4B79E;

}

.Categories ,.about-us  ,.Support  {
   margin: 30px 50px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons img{
    margin-right: 10px;
}
.payments{
    margin-top: 100px;
}

.payments img{
    margin-right: 10px;
}

 .phone-no {
    margin-top: 10px;
    font-size: 18px;
line-height: 27px;
}
/* End footer */







